{% extends 'layout.twig' %}

{% set pageTitle = 'Landing' %}
{% set subTitle = 'Welcome'|trans %}

{% block content %}
    <p>{{ 'Current language'|trans}}: <strong>{{ 'locale_lang'|trans}}</strong></p>


{% endblock %}