{% extends 'layout.twig' %}

{% set pageTitle = 'Profile' %}
{% set subTitle = 'Profile' %}

{% block content %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Login' |trans }}</div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Register' | trans }}</div>
            <div class="panel-body">

            </div>
        </div>
    </div>

{% endblock %}